* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
    background-color: #ffffff;
  }
  .Header {
    background-color: #ff9100;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-column: 2/ span 2;
  }

  .Container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  .Container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
  }

  .Sidebar{
    background-color: #7d0da5;
    grid-row: 1 / span 4; 
  }
  .dash-icon{
    display:grid;
    width: 50px;

  }
  .Projects{
    background-color: #bccbde;
    display: grid;
    grid-row: 2/ span 4;
    grid-template-columns: repeat(auto-fit, minmax(500px, 4fr));
    gap: 30px;
  }

  .Projects p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color:#000000;
    text-align: center;
    gap: 15px;
  }

  .Projects .card {
    background-color: #ffffff;
    color:black;
    text-align: center;
    height: 200px;
  }