* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .Header {
    background-color: #d1991f;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-column: span 2;
  }

  .Container {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 4px;
  }

  .Container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
  }

  .Sidebar{
    display: grid;
    background-color: #7d0da5;
  }
