* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .Header {
    background-color: #d1991f;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-column: span 2;
  }

  .Container {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 4px;
  }

  .Container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
  }

  .Sidebar{
    display: grid;
    background-color: #7d0da5;
  }

  .Projects{
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 15px;
  }

  .Projects p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color:#000000;
    text-align: center;
    gap: 15px;
  }